<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="k">
        <div class="first">
    <p>2. Write a programme to insert all values from Doubly Circular Linked List to an array. The output array should contain unique values. </p>
    <form action="/another" method="post">
    <input type="number" name="data">
    <button type="submit" name="submit">Submit</button>
    </form>
    
    

    
    <div>
     <ul>
        <% date.forEach((e)=>{ %>
            <li> <p>previous index value: <%=  e.prev  %> </p> <p>value :  <%=  e.value  %> </p> <p>next index value: <%=  e.next  %> </p> </li>
           <% }); %>
     </ul>

      </div>
   
        </div>
    </div>
    <a href="/" >Previous task</a>      
</body>
</html>